SECRET_KEY=
DEBUG=

# db credentials
DATABASE_NAME='e
DATABASE_USER='
DATABASE_PASSWORD='
DATABASE_HOST='lo
DATABASE_PORT='543

AWS_ACCESS_KEY_ID=AKIAW
AWS_SECRET_ACCESS_KEY=BQCvt056B8Bu
AWS_STORAGE_BUCKET_NAME=e
AWS_S3_REGION_NAME=